*{
    margin: 0;
    padding: 0;
}


.cabecalho {
    background-color: #0e1a2e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 10%;
}
.escola{
    background-image: linear-gradient(#142441,#1c92d6);
    color: white;
}
